<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form name="f" action="/auth/login" method="post">
        <label for="username">type your username here</label>
        <input type="text" name="username" placeholder="Username" required
               id="username">
        <br/>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password"
               required id="password">
        <br/>

        <button type="submit">Login</button>

        <div th:if="${param.error}" style="color: red">
            Invalid username or password.
        </div>
    </form>
</body>
</html>