<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>

<form th:action="@{/auth/registration}" th:object="${user}" method="post">

    <label for="firstName">First Name</label>
    <input th:field="*{firstName}" id="firstName"/>
    <div th:if="${#fields.hasErrors('firstName')}"
         th:errors="*{firstName}">First name error</div>

    <label for="lastName">Last Name</label>
    <input th:field="*{lastName}" id="lastName"/>
    <div th:if="${#fields.hasErrors('lastName')}"
         th:errors="*{lastName}">Last name error</div>

    <label for="email">Email</label>
    <input th:field="*{email}" id="email" type="email"/>
    <div th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}">Email error</div>

    <label for="password">Password</label>
    <input th:field="*{password}" type="password" id="password"/>
    <div th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">Password error</div>

    <label for="repeatPassword">Confirm Password</label>
    <input th:field="*{repeatPassword}" type="password" id="repeatPassword"/>
    <div th:if="${#fields.hasErrors('repeatPassword')}"
         th:errors="*{repeatPassword}">Repeat password error</div>

    <div th:if="${#fields.hasGlobalErrors()}" th:errors="*{}">Passwords do not match</div>

    <label for="shippingAddress">Shipping Address</label>
    <input th:field="*{shippingAddress}" id="shippingAddress"/>
    <div th:if="${#fields.hasErrors('shippingAddress')}"
         th:errors="*{shippingAddress}">Shipping address error</div>

    <button type="submit">Register</button>
</form>
</body>
</html>
